.container-feed {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

header {
  height: 94px;
  background-color: #141716;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

footer {
    height: 64px;
    font-weight: bold;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
